/*Aca va todo nuestor css comentados*/
/*Carlos*/
/*07-02-2019*/
.login-content-left{
    content: inherit;
    float: left;
    padding-left: 35px;
}

/*boton borrar small*/
/*maickol*/
/*09-02-2019*/
.borrar{
   margin-left: 1rem;
}

/*boton agregar ciudadano*/
/*maickol*/
/*13-02-2019*/
.agregarCiudadano{
    float:right;
    margin-bottom:1rem;
    margin-top:-20px;
}

/*numeros del wizard*/
/*maickol*/
/*16-02-2019*/
.wizard ul li{
    padding:0 8.1rem !important;
    
}
.wizard ul li .badge {
    width: 3rem;
    height: 3rem;
    border-radius:20px;
    font-size: 17px;
    padding-top: 6.9px;
}


/*form del wizard*/
/*maickol*/
/*16-02-2019*/
.form-horizontal .control-label {
    text-align:start;
}
.tituloWizard{
    padding-bottom:1rem;
}
.bodyWizard{
    padding:0px;
}

/*boton redondo*/
/*maickol*/
/*25-02-2019*/
.btnRedondo{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
}
/*emojin grande*/
/*maickol*/
/*25-02-2019*/
.emojin{
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}
.aladerecha{
    float: right;
}
/*margin en x*/
/*maickol*/
/*25-02-2019*/
.mx {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*redondear*/
/*maickol*/
/*25-02-2019*/
.redondear {
    border-radius: 25px;
}
/*panel de colores*/
/*maickol*/
/*25-02-2019*/
.panelshadow{
    border-radius: 5px;
    box-shadow: 1px 1px 20px #00000045;
}
.panelhead{
    color:white;
    border:#5c6bc0;
    border-radius:5px;
    height: 90px;
}
/*columna vertical*/
/*maickol*/
/*27-02-2019*/
.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
.flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column }
/*caja mobible*/
/*maickol*/
/*27-02-2019*/
.borderCaja {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(0,0,0,.125) !important;
  padding:1rem !important;
  width:100% !important
}
li{
    list-style: none;
}
li.panelshadow{
    list-style: none;
}
/*fondo gris*/
.bg-gris{
    background: #fafbfc;
}
/*margin*/
.mt1{
    margin-top:1rem;
}
.mt2{
    margin-top:2rem;
}
/*margin bottom*/
.mb1{
    margin-bottom:1rem;
}
.mb2{
    margin-bottom:2rem;
}
/*padding */
.pt1{
    padding-top:1rem;
}
.pt2{
    padding-top:2rem;
}
.pb1{
    padding-bottom:1rem;
}
.pb2{
    padding-bottom:2rem;
}

.vertical-align-wrap{
   
}

