
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es" class="fullscreen-bg translated-ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Simulacion RV</title>
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/main.min.css">
</head>
<body class="page-error">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <h1>
                    <span class="clearfix title">
                        <span class="number left"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">404 </font></font></span> <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¡Vaya! </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Página no encontrada</font></font></span>
                    </span>
                </h1>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No se pudo encontrar la página que estaba buscando, </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">contáctenos</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> para informar este problema.</font></font></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">También puede usar el formulario de búsqueda a continuación para encontrar la página que está buscando.</font></font></p>

                <form class="searchbox">
                    <div class="input-group input-group-lg">
                        <input class="form-control" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buscar</font></font></span></button>
                        </span>
                    </div>
                </form>

                <div>
                    <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regresa</font></font></span></a>
                    <a href="login" class="btn btn-default"><i class="fa fa-home"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Casa</font></font></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER --><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Traductor de Google"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Texto original</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Sugiere una traducción mejor</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>


    <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div>
</body>
</html>
