
@{
    ViewBag.Title = "Login";
    Layout = null;
}

    <html>
    <head>
        <title>Simulacion RV</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/themify-icons/css/themify-icons.css">
        <!-- MAIN CSS -->
        <link href="~/Content/assets/css/main.min.css" rel="stylesheet" />
        <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
        <link rel="stylesheet" href="~/Content/assets/css/demo.min.css">

        <link rel="stylesheet" href="~/Content/assets/css/proyect-style.css">

        <link rel="stylesheet" href="~/Content/assets/vendor/toastr/toastr.min.css">

        <link rel="stylesheet" href="~/Content/assets/vendor/sweetalert2/sweetalert2.css">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/logo.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/Content/assets/img/logo.png">

        
    </head>
    <body>
        <!-- WRAPPER -->
        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                    <div class="auth-box">
                        <div class="login-content-left mt2" style="margin-left: 7rem;">
                            <div class="content mt2">
                                <div class="header">

                                    <p class="lead" style="margin-top:5rem">Registro de Usuario</p>
                                </div>
                                <form class="form-auth-small" id="frm-login">
                                    <div class="form-group">
                                        <label for="signin-email" class="control-label sr-only">Usuario</label>
                                        <input type="text" class="form-control" id="username" placeholder="Usuario">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" class="form-control" value="" id="password" placeholder="Password">
                                    </div>
                                    <button type="button" id="btn_login" class="btn btn-primary btn-lg btn-block mt2">Entrar</button>

                                </form>
                            </div>
                        </div>
                        <div class="right">
                            <div class="overlay" style="background-color:#03A6F0"></div>
                            <div class="content text">
                                <h1 class="heading">Simulador RV</h1>
                                <p>Simulaciones en Reliadad Virtual</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WRAPPER -->
        <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/assets/vendor/bootstrap-progressbar/js/bootstrap-progressbar.min.js"></script>
        <script src="~/Content/assets/vendor/Flot/jquery.flot.js"></script>
        <script src="~/Content/assets/vendor/Flot/jquery.flot.resize.js"></script>
        <script src="~/Content/assets/vendor/Flot/jquery.flot.time.js"></script>
        <script src="~/Content/assets/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
        <script src="~/Content/assets/vendor/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <script src="~/Content/assets/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
        <script src="~/Content/assets/vendor/moment/min/moment.min.js"></script>
        <script src="~/Content/assets/vendor/jquery-sparkline/js/jquery.sparkline.min.js"></script>
        <script src="~/Content/assets/vendor/bootstrap-tour/js/bootstrap-tour.min.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/widget.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/data.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/scroll-parent.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/disable-selection.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
        <script src="~/Content/assets/vendor/jquery-ui/ui/widgets/sortable.js"></script>
        <script src="~/Content/assets/vendor/datatables/js-main/jquery.dataTables.min.js"></script>
        <script src="~/Content/assets/vendor/jquery-appear/jquery.appear.min.js"></script>
        <script src="~/Content/assets/vendor/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Content/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="~/Content/assets/vendor/jqvmap/maps/jquery.vmap.usa.js"></script>
        <script src="~/Content/assets/vendor/chart-js/Chart.min.js"></script>

        <script src="~/Content/assets/amcharts/amcharts.js"></script>
        <script src="~/Content/assets/amcharts/serial.js"></script>
        <script src="~/Content/assets/amcharts/plugins/export/export.min.js"></script>
        <link href="~/Content/assets/amcharts/plugins/export/export.css" rel="stylesheet" />
        <script src="~/Content/assets/amcharts/themes/light.js"></script>

        <script src="~/Content/assets/vendor/toastr/toastr.min.js"></script>
        <script src="~/Content/assets/vendor/sweetalert2/sweetalert2.js"></script>

        <script src="~/Content/assets/vendor/chart-js/Chart.min.js"></script>
        <script src="~/Content/assets/scripts/Script_function.js"></script>

        <script src="~/Content/assets/scripts/login.js"></script>
    </body>
    </html>

